body {
	background-color: lightblue;
	padding: 0 0 1% 0;
}

hr {
	border-top: thick solid darkgray;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.nav-padding {
	padding-top: 3%;
}

.header-content {
	background-color: deepskyblue;
	border: black;
	border-radius: 150px;
	text-align: center;
	color: white;
	margin-top: 2%;
}

.panel {
	padding: 2% 1% 3% 1%;
	width: 100%;
	background-color: white;
	border-radius: 3%;
}

.wide-width {
	width: 80%;
}

.block {
	margin-bottom: 5%;
}

.btn {
	margin-bottom: 3%;
}

.form-check {
	margin-bottom: 5px;
}

#selectedOriginFolder {
	font-weight: bold;
}
#selectedDestinationFolder {
	font-weight: bold;
}

#progressBarPercent {
	font-size: xx-large;
}

#organizeDirBlock {
	margin: 3%;
}
